body {
    background-color: #116466;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

h1{
    color: #ffcb9a;
}

nav {
    color:#ffcb9a;
    font-size: 24px;
    float:right;
   
}

nav ul li {
     list-style-type: none;
     display: inline-block;
     margin-left: 24px;
 }

 h2{
    color: #ffcb9a;
}

footer {
    background-color:#116466;
    color: #ffcb9a;
    font-size: 20px;
}

