body {
    background-color: #116466;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; */
    font-family: 'Anybody', cursive;
}
h1{
    color:#d0b08c;
    text-decoration: underline #d1e8e2;
}

nav {
    color:#ffcb9a;
    font-size: 24px;
    float:right;
   
}

nav ul li {
     list-style-type: none;
     display: inline-block;
     margin-left: 24px;
   
 }

 .grid{
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid #2c3531;
    background-color: #d1e8e2;
 }

 .grid div {
    width: 20px;
    height: 20px;
 }
 p{
    font-size: 20px;
    color: #ffcb9a;
 }

 h2{
    color: #d0b08c;
    text-decoration: underline #d1e8e2;
}

h3{
    color: #d0b08c;
    text-decoration: underline #d1e8e2;
}

footer {
    background-color:#116466;
    color: #ffcb9a;
    font-size: 20px;
}

.pac-dot {
    background-color:#2c3531;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
   background-color:#116466;
}

.power-pellet {
    background-color: rgb(255, 0, 187);
    border-radius: 10px;
}

